{% extends 'base.html.twig' %}

{% block title %}Products Dashboard{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }

        img {
            width: 64px;
            height: 64px;
            border-radius: 12px;
            box-shadow: 0 0 5px #a2a2a2;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <h1 class="h2" id="tabName">Products Dashboard</h1>

        <div class="btn-toolbar mb-3 mb-md-0">

            <div class="btn-group mr-3">
                <a class="btn btn-sm btn-outline-success" onclick="toogleTab('listTab', 'reportsTab')" href="#tab=list">
                    <svg class="feather feather-layers sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24"
                         height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                        <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                        <polyline points="2 17 12 22 22 17"></polyline>
                        <polyline points="2 12 12 17 22 12"></polyline>
                    </svg>
                    Products
                </a>

                <a class="btn btn-sm btn-outline-success" onclick="toogleTab('reportsTab', 'listTab')" href="#tab=reports">
                    <svg class="feather feather-bar-chart-2 sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg"
                         width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                        <line x1="18" y1="20" x2="18" y2="10"></line>
                        <line x1="12" y1="20" x2="12" y2="4"></line>
                        <line x1="6" y1="20" x2="6" y2="14"></line>
                    </svg>
                    Reports
                </a>

                <a class="btn btn-sm btn-outline-primary" href="{{ path('product_new') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-plus-circle">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="12" y1="8" x2="12" y2="16"></line>
                        <line x1="8" y1="12" x2="16" y2="12"></line>
                    </svg>
                    New
                </a>
            </div>

            <a class="btn btn-sm btn-outline-secondary" href="{{ path('product_index') }}">
                <svg class="feather feather-home sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24"
                     height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
            </a>

        </div>
    </div>

    <div id="reportsTab" style="display: none;">
        {% include('product/reports.html.twig') %}
    </div>

    <div id="listTab" style="display: block">
        {% include('product/list.twig') %}
    </div>

    {% block javascripts %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

        <script>
            var ctx = document.getElementById("myChart");

            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Windows', 'macOS', 'Linux', 'iOS', 'Android'],
                    datasets: [{
                        data: [182, 60, 40, 120, 20, 180],
                        lineTension: 0,
                        backgroundColor: 'transparent',
                        borderColor: '#007bff',
                        borderWidth: 2,
                        pointBackgroundColor: '#007bff'
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    legend: {
                        display: false,
                    }
                }
            });

            function toogleTab(tabToShowId, tabToHideId) {

                var tabToShow = document.getElementById(tabToShowId);
                var tabToHide = document.getElementById(tabToHideId);

                tabToShow.style.display = 'block';
                tabToHide.style.display = 'none';
            }

        </script>
    {% endblock %}

{% endblock %}